@model IEnumerable<VisualiserWebProject.Models.Module>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div id="searchSort">
    @using (Html.BeginForm())
    {
        <p>
            Find by module code or name: @Html.TextBox("SearchString")
            <input type="submit" value="Search" />
        </p>
    }

</div>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Module Code: ","Index", new { sortOrder = ViewBag.CodeSortParm})
        </th>
        <th>
            @Html.ActionLink("Module Name:", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            Lecturer:
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.moduleCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.moduleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.userFirstName) @Html.DisplayFor(modelItem =>item.User.userLastName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ModuleID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ModuleID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ModuleID })
        </td>
    </tr>
}

</table>
