@model IEnumerable<VisualiserWebProject.Models.Module>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.moduleCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.moduleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.archived)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.userFirstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.moduleCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.moduleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.archived)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.userFirstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ModuleID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ModuleID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ModuleID })
        </td>
    </tr>
}

</table>
