<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Visualiser</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!-- Sidebar -->
    <div class="sidenav accent col-sm-2 ">
        <table>
            <tr><td>@Html.ActionLink("User Account", "Index", "Home")</td></tr>
            <tr><td>@Html.ActionLink("Home", "Index", "Home")</td></tr>
            <tr><td>@Html.ActionLink("About", "About", "Home")</td></tr>
            <tr><td>@Html.ActionLink("Contact", "Contact", "Home")</td></tr>
            <tr><td>@Html.ActionLink("Create Account", "Create", "Users")</td></tr>
            <tr><td>@Html.ActionLink("Create Account", "Create", "Users")</td></tr>
            <tr><td>@Html.ActionLink("Create Account", "Create", "Users")</td></tr>
            <tr><td>@Html.ActionLink("Create Account", "Create", "Users")</td></tr>
        </table>

    </div>

    <div class="col-lg-10 container body-content ">
        @RenderBody()
        <hr />
        <footer class="bottom ">
            <p>Analysis and Visualisation of Quiz responses - Qaanita Fataar (216058090)</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
