@model VisualiserWebProject.Models.Test

@{
    ViewBag.Title = "TestDashboard";
}

<h1>@Model.Module.moduleCode - @Model.testTitle</h1>

<div id="testDashContainer">
    <div id="topMiniDash">
        <div id="marks" class=".float_child">
            <div id="passPercent" style="max-width: 80%">
                <div>
                    <a>Number of Students who Passed: @Model.testMark</a>
                    <a style="text-align: right"> @ViewBag.PercentPassed%</a>
                </div>
                <div class="bar-contain">
                    <div class="bar-percent" style="width: @ViewBag.PercentPassed">

                    </div>
                </div>
            </div>
            <hr />
            <div id="averageMark" style="max-width: 80%">
                <div>
                    <a>Average Mark: </a>
                    <a style="text-align: right"> @Model.averageMark%</a>
                </div>
                <div class="bar-contain">
                    <div class="bar-percent" style="width: @ViewBag.AveragePercent">

                    </div>
                </div>
            </div>
        </div>
        <div id="drilldownChart" class=".float_child" style="height: 300px; max-width: 25vw;"></div>
        <div id="attempts" class=".float_child" style="height: 300px; max-width: 25vw;">

        </div>
    </div>

    <div id="barchart" style="margin:20px; height: 300px; max-width: 70vw;">

    </div>

    <div id="tableContainer">

    </div>
</div>

<style>
    #topMiniDash {
        display: flex;
    }

    .float_child {
        flex: 1;
        padding: 10px;
    }

    .bar-contain {
        margin: 20px;
        margin-top: 0px;
        width: 100%;
        height: 20px;
        border-radius: 5px;
        background-color: #c3f3eb;
    }

    .bar-percent {
        height: 20px;
        border-radius: 5px;
        background-color: #10cdb0;
    }

    #attempts {
        max-block-size: 100%;
        object-fit: contain;
    }
</style>

<script src="https://cdn.canvasjs.com/ga/canvasjs.min.js"></script>
<script src="https://cdn.canvasjs.com/ga/canvasjs.stock.min.js"></script>
<script>
    window.onload = function () {
        var datay = [];
            var array = @ViewBag.AttemptsData;
            for(var i = 0; i < array.length; i++) {
                datay[i] = array[i];
            }

            var labels = [];
            array = @Html.Raw(@ViewBag.AttemptsLabels);
            for (var i = 0; i < array.length; i++) {
                labels[i] = array[i];
            }
        var chart1 = new CanvasJS.Chart("attempts", {
            animationEnabled: true,
            title: {
                text: ""
            },
            axisX: {
                interval: 1
            },
            axisY2: {
                interlacedColor: "rgba(1,77,101,.2)",
                gridColor: "rgba(1,77,101,.1)",
                title: "Number of Attemps"
            },
            data: [{
                type: "bar",
                name: "companies",
                axisYType: "secondary",
                color: "#10cdb0",
                dataPoints: [
                    { y: datay[0], label: labels[0] },
                    { y: datay[1], label: labels[1] }
                ]
            }]
        });

        //problem here - solved ..? mayhaps
        var qlabels = [];
        array = @Html.Raw(@ViewBag.QuestionNr);
        for(var i = 0; i < array.length; i++) {
           qlabels[i] = array[i];
        }

        var dp1 = [];
        array = @ViewBag.LQDiff;
        for(var i = 0; i < array.length; i++) {
           dp1[i] = array[i];
        }

        var dp2 = [];
        array = @ViewBag.LQDisc;
        for(var i = 0; i < array.length; i++) {
           dp2[i] = array[i];
        }

        var difArray = qlabels.map((value, index) => {
            return {
                x: value,
                y: dp1[index]
            };
        });

        var discArray = qlabels.map((value, index) => {
            return {
                x: value,
                y: dp2[index]
            };
        });

        //https://canvasjs.com/docs/charts/chart-options/data/datapoints/click/
        var chart2 = new CanvasJS.Chart("barchart", {
            title: {
                text: "Difficulty and Discrimination Indices per Question"
            },
            axisX: {
                title: "Question Number"
            },
            axisY2: {
                title: "Percentage",
                suffix: "%"
            },
            toolTip: {
                shared: true
            },
            legend: {
                cursor: "pointer",
                verticalAlign: "top",
                horizontalAlign: "center",
                dockInsidePlotArea: true,
                itemclick: toggleDataSeries
            },
            data: [{
                type: "line",
                axisYType: "secondary",
                name: "Difficulty Index",
                showInLegend: true,
                markerSize: 0,
                dataPoints: difArray
            },
            {
                type: "line",
                axisYType: "secondary",
                name: "Discrimination Index",
                showInLegend: true,
                markerSize: 0,
                dataPoints: discArray
            },]
        });


        chart1.render();
        chart2.render();

        function toggleDataSeries(e) {
            if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                e.dataSeries.visible = false;
            } else {
                e.dataSeries.visible = true;
            }
            chart2.render();
        }

    }
</script>