@model VisualiserWebProject.Models.TestQuestion

@{
    ViewBag.Title = "Details";
}

<h2 style="text-align:center">Question Information and Response Distribution</h2>

<h4>Question: @Html.DisplayFor(model => model.Question.qText)</h4>
<hr />

<div id="wrapper">
    <div id="dataTable" class="float_child">
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.Question.qCorrectAnswer)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Question.qCorrectAnswer) (@Html.DisplayFor(model => model.correctSelected))
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Question.qDistractor1)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Question.qDistractor1) (@Html.DisplayFor(model => model.qD1Selected))
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Question.qDistractor2)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Question.qDistractor2) (@Html.DisplayFor(model => model.qD2Selected))
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Question.qDistractor3)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Question.qDistractor3) (@Html.DisplayFor(model => model.qD3Selected))
            </dd>
        </dl>
    </div>
    <div id="bars" class="float_child">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.difficultyIndex)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.difficultyIndex)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.discriminationIndex)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.discriminationIndex)
            </dd>
        </dl>

        @*TODO: data bars*@
    </div>
</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>

<style>
    #wrapper {
        display: flex;
    }

    .float_child {
        flex: 1;
        padding: 10px;
    }
</style>